@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;

    margin: 0;

    padding: 0;
}

body {
    align-content: center;
    align-items: center;

    background-image: linear-gradient(
        to top right,
        rgba(102, 0, 102, 1),
        rgba(102, 0, 204, 1),
        rgba(55, 55, 255, 1),
        rgba(153, 204, 255, 1)
    );

    display: flex;

    font-family: 'Merriweather', serif;

    justify-content: center;
    justify-items: center;

    height: 100vh;
}

/* --- CONFIGURAÇÃO PAPEL VIDRO --- */
.papel-vidro {
    backdrop-filter: blur(55px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(204, 102, 0, 0.8);
    border-radius: 50px 160px;
    box-shadow: 2px 2px 20px 20px rgba(204, 102, 0, 1);

    height: 700px;
    width: 1600px;
}
/* --- FIM DA CONFIG --- */

/* --- CONFIGURAÇÃO DO HEADER --- */
.header {
    text-align: center;

    padding: 15px;
}

.header-text {
    border-radius: 35px 180px;
    box-shadow: inset 2px 2px 20px 20px rgba(204, 102, 0, 1);

    font-family: 'Smooch Sans', sans-serif;
    font-size: 55px;
    font-weight: 600;

    margin: 0px 60px;
    
    padding: 15px;
}
/* --- FIM DA CONFIGURAÇÃO --- */

/* --- CONFIGURAÇÃO DO CONTEÚDO --- */
main {
    align-content: center;
    align-items: center;

    display: flex;

    justify-content: center;
    justify-items: center;

    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
/* --- FIM DA CONFIGURAÇÃO --- */
.faceUm,
.faceDois {
    background-color: aqua;

    height: 100px;

    width: 100px;
}