@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Smooch+Sans:wght@300;600&display=swap');

* {
    box-sizing: border-box;

    margin: 0;

    padding: 0;
}

body {
    align-content: center;
    align-items: center;

    background-image: linear-gradient(
        to top right,
        rgba(102, 0, 102, 1),
        rgba(102, 0, 204, 1),
        rgba(55, 55, 255, 1),
        rgba(153, 204, 255, 1)
    );

    display: flex;

    justify-content: center;
    justify-items: center;

    height: 100vh;
}

/* --- FONTES PARA O TABALHO --- */
/*

font-family: 'Oswald', sans-serif;
font-width: 200;

font-family: 'Smooch Sans', sans-serif;
font-width: 300;
font-width: 600;

*/
/* --- FIM DO DOCUMENTO DAS FONTES --- */

/* --- CONFIGURAÇÃO PAPEL VIDRO --- */
.papel-vidro {
    backdrop-filter: blur(55px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(204, 102, 0, 0.8);
    border-radius: 50px 160px;
    box-shadow: 2px 2px 20px 20px rgba(204, 102, 0, 1);

    height: 700px;
    width: 1600px;
}
/* --- FIM DA CONFIG --- */

/* --- CONFIGURAÇÃO DO HEADER --- */
.header {
    text-align: center;

    padding: 15px;
}

h2 {
    border-radius: 160px 15px;
    box-shadow: inset 2px 2px 20px 20px rgba(204, 102, 0, 1);

    font-family: 'Smooch Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;

    margin: 0px 150px;
    
    padding: 15px;
}
/* --- FIM DA CONFIGURAÇÃO --- */