@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;

    font-family: 'Open Sans';

    margin: 0;

    padding: 0;
}

.center {
    margin: 0 auto;

    width: 1280px;
}

.header {
    background-color: #212343;

    height: 60px;

    width: 100%;
}

.header img {
    margin: 19px;
}

.container-banner {
    background-image: url('../imagens/header_bg.png');
    background-size: cover;
    background-position: center;

    height: 557px;

    width: 100%;
}

.container-banner > .center {
    height: 100%;
}

.form {
    background-color: #fff;

    border: 8px solid #ccc;

    float: right;
    
    height: calc(100% + 40px);

    position: relative;

    top: -20px;

    width: 400px;
}

.form h2 {
    color: #999999;

    font-size: 21px;
    font-weight: normal;

    padding: 15px;
}

.input-container {
    margin-top: 20px;
}

.input-container span {
    color: #BBBBBB;

    display: inline-block;

    font-size: 17px;

    margin-left: 15px;

    width: 100%;
}

.form p {
    color: #BBBBBB;

    display: inline-block;

    font-size: 17px;

    margin-block-end: 0;
    margin-block-start: 0;

    padding: 20px 30px;

    width: 100%;
}

.input-container input[type=text] {
    border: 1px solid #ccc;

    height: 55px;

    margin-top: 8px;
    margin-left: 18px;

    width: 344px;
}

.form input[type=submit] {
    background-color: #363a6d;
    border-bottom: 5px solid #4a5097;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    color: #fff;
    cursor: pointer;

    display: inline-block;

    font-size: 20px;

    height: 56px;

    margin: 20px 25px;

    text-align: center;

    width: 280px;
}

.form .submit-container {
    display: inline-block;

    text-align: center;

    width: 100%;
}